@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using SitefinityWebApp.Mvc;


@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/ResourcePackages/Bootstrap4/assets/dist/js/bootstrap.min.js"), "top", true)
@Html.Script(System.Configuration.ConfigurationManager.AppSettings["UrlToyotaClientes"].ToString() + "/lightning/lightning.out.js", "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/config.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-solicitud-digital.js"), "bottom", true)

@Html.StyleSheet(Url.Content("~/Content/css/styles.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-solicitud-digital.css"))

<!--
<div class="container">
    <h1 class="my-3 py-3">Solicitud Digital</h1>
</div>
-->
<div class="container my-3 py-3" style="border: solid 0.5px #c0c0c0;border-radius:8px;">
    <div id="lightning" style="font-size:14px;"></div>
</div>
<div id="loading-page"> 
     <p>Loading</p>
</div>

<style>
    #loading-page {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999 !important;
        background-color:black;
    }
</style>

