@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using SitefinityWebApp.Mvc;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/config.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-cambiar-contrasena.js"), "bottom", true)
@Html.Script("https://unpkg.com/swiper/swiper-bundle.min.js", "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-login.css"))
@Html.StyleSheet("https://unpkg.com/swiper/swiper-bundle.min.css")

<div class="container-fluid" id="main-container">
    <div class="customRow flex-column-reverse flex-lg-row align-items-center justify-content-center">
        <div class="col-12 col-lg-5">
            <div id="iniciar-sesion" class="login-form">
                <div class="mt-5 mb-1">
                    <h1 class="registro-title black-title text-left">Cambio de contrase&ntilde;a</h1>
                </div>
                <div class="mb-3">
                    <p class="normal-p">
                        Completa los siguientes campos para generar tu nueva contrase&ntilde;a.
                    </p>
                </div>

                <div data-id="cambiar-pass-form" class="sf-form-container" data-method="POST" data-action="@System.Configuration.ConfigurationManager.AppSettings["UrlMySalesforce"].ToString()/services/apexrest/SetPasswordSitefinity">
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="float-container">
                                <label class="float-label" for="rfc">
                                    RFC
                                </label>
                                <input class="form-input effect-2" type="text" name="rfc" id="rfc" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-container">
                                <label class="float-label" for="password">
                                    Nueva contrase&ntilde;a
                                </label>
                                <input class="form-input effect-2" type="password" name="password" id="password" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-container">
                                <label class="float-label" for="confirm_password">
                                    Confirmar nueva contrase&ntilde;a
                                </label>
                                <input class="form-input effect-2" type="password" name="confirm_password" id="confirm_password" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>
                    <div id="err"></div>

                    <div class="my-5 row align-items-center justify-content-center">
                        <button type="submit" class="btn-registro">ENVIAR</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
