@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-login.js"), "bottom", true)
@Html.Script("https://unpkg.com/swiper/swiper-bundle.min.js", "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-login.css"))
@Html.StyleSheet("https://unpkg.com/swiper/swiper-bundle.min.css")

<div class="container-fluid" id="main-container">
    <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-center">
        <div class="col-12 col-lg-7">
            <div id="iniciar-sesion" class="login-form">
                <div class="mt-5 mb-1">
                    <h1 class="registro-title black-title text-left">Nos da mucho gusto que quieras ser parte de la familia Toyota.</h1>
                </div>
                <div class="mb-3">
                    <p class="normal-p">
                        Completa los siguientes campos para generar tu cuenta de ingreso a nuestra plataforma Home Delivery, con la que podrás iniciar y dar seguimiento a tu proceso de financiamiento para Estrenar un Toyota.
                    </p>
                </div>

                <div data-id="registro-nc-form" class="sf-form-container" data-method="GET" data-action="https://salt001-toyotaclientes.cs43.force.com/s/sitefinityregister">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="float-container my-5">
                                <label class="float-label" for="nameVisible">
                                    Nombre
                                </label>
                                <input class="form-input effect-2" type="text" id="nameVisible" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="float-container my-5">
                                <label class="float-label" for="lastnameVisible">
                                    Apellido
                                </label>
                                <input class="form-input effect-2" type="text" id="lastnameVisible" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="float-container my-5">
                                <label class="float-label" for="emailVisible">
                                    Correo electr&oacute;nico
                                </label>
                                <input class="form-input effect-2" type="email" id="emailVisible" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="float-container my-5">
                                <label class="float-label" for="rfcVisible">
                                    RFC
                                </label>
                                <input class="form-input effect-2" type="text" id="rfcVisible" />
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" value="" name="name" id="name" />
                    <input type="hidden" value="" name="lastname" id="lastname" />
                    <input type="hidden" value="" name="email" id="email" />
                    <input type="hidden" value="" name="rfc" id="rfc" />
                    <input type="hidden" name="fail" value="https://tfs-sitefinity.virtualdreams.io/tfsm/my-tfsm/registro-no-clientes" id="fail" />
                    <input type="hidden" name="ok" value="https://tfs-sitefinity.virtualdreams.io/tfsm/my-tfsm/registro-exito"
                           id="ok" />

                    <div class="my-5 d-flex justify-content-center">
                        <button type="submit" class="btn-registro"> REGISTRARME </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
