@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using SitefinityWebApp.Mvc;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-login.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/swiper-bundle.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-registro.js"), "bottom", true)


@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-login.css"))
@Html.StyleSheet(Url.Content("~/Content/css/swiper-bundle.min.css"))



<div class="container-fluid" id="main-container">
    <div class="row customRow flex-column-reverse flex-lg-row align-items-center">
        <div class="col-12 col-lg-7">
            <div class="login-img">
                @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
                {
                    <img src="@Model.SelectedSizeUrl" class="img-fluid custom-img-fluid" />
                }
                else
                {
                    <img src="/images/default-source/tfsm/my-tfsm/tfsm-banner-bienvenida.png" class="img-fluid custom-img-fluid" />
                }
            </div>
        </div>
        <!-- COLUMNA VARIABLE -->
        <div class="swiper-container col-12 col-lg-5">
            <div class="swiper-wrapper">
                <!--INICIO SESION NC -->
                <div class="swiper-slide">
                    <div id="iniciar-sesion" class="login-form-stretch">
                        <div class="d-flex mb-4">
                            <div tabindex="-1" class="back-button" id="volver-nc">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mt-4 mb-1">
                            <h1 class="registro-title black-title text-left">Iniciar sesión</h1>
                        </div>
                        <div class="mb-3">
                            <p class="normal-p text-justify">
                                Nos da mucho gusto que quieras ser parte de la familia Toyota, juntos es posible.
                            </p>
                        </div>

                        <div data-id="nc-form" class="sf-form-container">
                            <div class="float-container my-5">
                                <label class="float-label" for="userVisible">
                                    Correo electr&oacute;nico
                                </label>
                                <input class="form-input effect-2" type="text" name="_email" id="userVisible" />
                                <span class="focus-border"></span>
                            </div>
                            <div class="float-container my-5">
                                <label class="float-label" for="passVisible">
                                    Ingrese su contraseña
                                </label>
                                <input class="form-input effect-2" type="password" name="_password" id="passVisible" />
                                <span class="focus-border"></span>
                            </div>

                            <div style="display:none;" class="login-error" id="err-nocliente"></div>

                            <div>
                                <p class="normal-p">
                                    <a class="text-decoration-none" style="font-size: 12px;" href="/tfsm/home-delivery/olvide-mi-contrasena">
                                        ¿Olvidaste tu contrase&ntilde;a?
                                    </a>
                                </p>
                            </div>

                            <input type="hidden" value="" name="user" id="user" />
                            <input type="hidden" value="" name="pass" id="pass" />
                            <input type="hidden" name="fail"  id="fail" />
                            <input type="hidden" name="ok" id="ok" />

                            <div class="my-4 d-flex justify-content-center">
                                <button type="button" class="btn-registro g-recaptcha" id="boton-login-nocliente"> INGRESAR </button>
                            </div>

                        </div>


                        <div class="mb-1">
                            <p class="normal-p">
                                ¿No tienes cuenta?
                            </p>
                        </div>

                        <div class="mb-3">
                            <div class="mb-3">
                                <p class="normal-p"><span id="al-registro-nc" class="red-link">Regístrate e inicia tu proceso de crédito en línea.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--INICIO -->
                <div class="swiper-slide">
                    <div id="bienvenida" class="login-form-stretch">
                        <!-- **************************************************************** -->
                        <div class="mb-4">
                           
                        </div>
                        <div class="pt-5 mb-3">
                            <h1 class="registro-title red-title">Bienvenido</h1>
                        </div>
                        <div class="mb-3">
                            <p class="normal-p font-weight-bold text-justify">
                                Inicia tu proceso de financiamiento estés en  donde estés. Tanto si ya eres cliente, como si quieres pertenecer a la familia Toyota.
                            </p>
                        </div>

                        <div class="row mb-5" style="margin-top: 70px;">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                <button type="button" class="btn-red btn-long col-lg-9 col-sm-12" id="ingresar">
                                    INGRESAR
                                </button>
                            </div>
                        </div>
                        <div id="err"></div>
                        <p class="small-p mb-5 font-weight-bold"><small>Si aún no cuentas con los datos para iniciar sesión <span id="registro" class="red-link">regístrate aquí.</span></small></p>

                    </div>
                </div>
                <!-- MENU INICIO SESION -->
                <div class="swiper-slide">
                    <div id="bienvenida" class="login-form-stretch">
                        <!-- **************************************************************** -->
                        <div class="d-flex mb-4 ">
                            <div class="back-button" id="volver-inicio">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <h1 class="registro-title red-title">Iniciar sesión</h1>
                        </div>
                        <div class="mb-3 pb-4">
                            <p class="normal-p font-weight-bold mb-4 text-justify">
                                Para iniciar sesión selecciona la opción más adecuada.
                            </p>
                        </div>
                        <div class="row my-5 my-lg-3 pb-4 ml-0" style="margin-top: 70px;">
                            <div class="col-12 row mb-5">
                                <button type="button" class="btn-red mb-3 col-xl-6 col-lg-7 font-weight-light " id="ingreso-clientes">
                                    Ingresa con Id de cliente
                                </button>
                                <p class="small-p mb-5 font-weight-bold text-justify">Si eres cliente y tienes un id de cliente inicia sesión con esta opción.</p>
                            </div>
                            <div class="col-12 mb-3 mb-5 row">
                                <button type="button" class="btn-red btn-long mb-3 col-xl-6 col-lg-7 font-weight-light" id="ingreso-no-clientes">
                                    Ingresa con correo electrónico
                                </button>
                                <p class="small-p mb-5 font-weight-bold text-justify">Si cuentas con un correo electrónico y una clave, que registraste para pertencer a la familia Toyota. Inicia sesión con esta opción.</p>
                            </div>
                        </div>
                        <div id="err"></div>
                    </div>
                </div>
                <!-- INICIO SESION C -->
                <div class="swiper-slide">
                    <div id="iniciar-sesion" class="login-form">
                        <div class="d-flex mb-4">
                            <div tabindex="-1" class="back-button" id="volver-c">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mt-4 mb-1">
                            <h1 class="registro-title black-title text-left">Iniciar sesión</h1>
                        </div>
                        <div class="mb-3">
                            <p class="normal-p text-justify">
                                Nos da mucho gusto que sigas siendo parte de la familia Toyota.
                            </p>
                        </div>

                        <div class="sf-form-container" data-id="c-form">
                            <div class="float-container my-5">
                                <label class="float-label" for="clientVisible">
                                    Ingresar su n&uacute;mero de cliente / ID de cliente
                                </label>
                                <input class="form-input effect-2" type="text" name="_clientId" id="clientVisible" />
                                <span class="focus-border"></span>
                            </div>
                            <div class="float-container my-5">
                                <label class="float-label" for="passClientVisible">
                                    Ingrese su contraseña
                                </label>
                                <input class="form-input effect-2" type="password" name="_password" id="passClientVisible" />
                                <span class="focus-border"></span>
                            </div>

                            <div style="display:none;" class="login-error" id="err-cliente"></div>

                            <div>
                                <p class="normal-p">
                                    <a class="text-decoration-none" style="font-size: 12px;" href="/tfsm/home-delivery/recuperar-contrasena">
                                        ¿Olvidaste tu contrase&ntilde;a?
                                    </a>
                                </p>
                            </div>

                            <input type="hidden" value="" name="client" id="client" />
                            <input type="hidden" value="" name="pass" id="passClient" />
                            <input type="hidden" name="fail" id="failClient" />
                            <input type="hidden" name="ok"  id="okClient" />

                            <div class="my-4 d-flex justify-content-center">
                                <button type="button" class="btn-registro g-recaptcha" id="boton-login-cliente"> INGRESAR </button>
                            </div>

                        </div>

                        <div class="mb-1">
                            <p class="normal-p">
                                ¿No tienes cuenta?
                            </p>
                        </div>

                        <div class="mb-3">
                            <p class="normal-p"><span id="al-registro" class="red-link">Regístrate e inicia tu proceso de crédito en línea.</span></p>
                        </div>
                    </div>
                </div>
                <!-- MENU DE REGISTROS -->
                <div class="swiper-slide">

                    <div id="bienvenida" class="login-form-stretch">
                        <!-- **************************************************************** -->
                        <div class="d-flex mb-4">
                            <div class="back-button" id="volver-inicio-reg">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <h1 class="registro-title red-title">Registro</h1>
                        </div>
                        <div class="mb-3 pb-4">
                            <p class="normal-p font-weight-bold mb-4 text-justify">
                                Tenemos dos opciones para registrarte, elige una de ellas:
                            </p>
                        </div>
                        <div class="row my-5 my-lg-3 pb-4 ml-0" style="margin-top: 70px;">
                            <div class="col-12 row mb-5">
                                <button type="button" class="btn-red mb-3 col-xl-6 col-lg-7 font-weight-light " id="registro-clientes">
                                    Registro para clientes
                                </button>
                                <p class="small-p mb-5 font-weight-bold text-justify">Si eres parte de la familia Toyota. "Registro para clientes" es la opción adecuada para ti. Ten a la mano tu ID de cliente para completar el registro y con ello seguir el nuevo proceso de financiamiento.</p>
                            </div>
                            <div class="col-12 mb-3 mb-5 row">
                                <button type="button" class="btn-red btn-long mb-3 col-xl-6 col-lg-7 font-weight-light" id="registro-no-clientes">
                                    Registro nuevo
                                </button>
                                <p class="small-p mb-5 font-weight-bold text-justify">Si quieres ser parte de la familia Toyota e iniciar tu proceso de financiamiento así como el seguimiento del mismo, "Registro nuevo" es la opción perfecta.</p>
                            </div>

                        </div>
                        <div id="err"></div>
                    </div>
                </div>
                <!-- REGISTRO CLIENTE -->
                <div class="swiper-slide">
                    <div id="bienvenida" class="login-form-stretch">
                        <!-- **************************************************************** -->
                        <div class="d-flex mb-4">
                            <div tabindex="-1" class="back-button" id="volver-inicio-c">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <h1 class="registro-title red-title">Registrate para iniciar sesión.</h1>
                        </div>
                        <div class="mb-3 pb-4">
                            <p class="normal-p mb-4 text-justify">
                                Completa los siguientes campos para generar tu cuenta de ingreso a nuestra plataforma Solicitud Digital, con la que podrás iniciar y dar seguimiento a tu proceso de financiamiento para estrenar un Toyota.
                            </p>
                        </div>
                        <div data-id="registro-c-form" class="sf-form-container regis">
                            <div class="row mt-5">
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="clientVisible-r">
                                            Número de cliente / ID de cliente
                                        </label>
                                        <input class="form-input effect-2" type="text" name="_clientId" id="clientVisible-r" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="rfcVisible-r">
                                            RFC con Homoclave
                                        </label>
                                        <input class="form-input effect-2" type="text" name="_rfc" id="rfcVisible-r" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="emailVisible-r">
                                            Correo electr&oacute;nico
                                        </label>
                                        <input class="form-input effect-2" type="email" name="_email" id="emailVisible-r" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="err-c" class="login-error mt-4" style="display:none;"></div>

                            <input type="hidden" value="" name="client" id="client-r" />
                            <input type="hidden" value="" name="email" id="email-r" />
                            <input type="hidden" value="" name="rfc" id="rfc-r" />
                            <input type="hidden" name="fail"/>
                            <input type="hidden" name="ok" id="ok-r" />

                            <div class="my-5 row align-items-center justify-content-center">
                                <div class="col-12 col-lg-12 mb-4">
                                    <div class="terms align-items-center">
                                        <div><input type="checkbox" id="registro-terms-c" /></div>
                                        <div>
                                            <small>He le&iacute;do y acepto el  <span id="priv-cli-btn" class="red-link">aviso de privacidad</span>, los <span id="terms-btn" class="red-link">t&eacute;rminos y condiciones</span> de uso de p&aacute;gina.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 d-flex justify-content-center">
                                    <button type="button" class="btn-registro align-self-center g-recaptcha" id="boton-registro-cliente">REGISTRARME</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- REGISTRO NO CLIENTE -->
                <div class="swiper-slide">
                    <div id="bienvenida" class="login-form-stretch">
                        <!-- **************************************************************** -->
                        <div class="d-flex mb-4">
                            <div tabindex="-1" class="back-button" id="volver-inicio-nc">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <h1 class="registro-title">Nos da mucho gusto que quieras ser parte de la familia Toyota.</h1>
                        </div>
                        <div class="mb-3 pb-4">
                            <p class="normal-p mb-4 text-justify">
                                Completa los siguientes campos para generar tu cuenta de ingreso a nuestra plataforma Solicitud Digital, con la que podrás iniciar y dar seguimiento a tu proceso de financiamiento para estrenar un Toyota.
                            </p>
                        </div>
                        <div data-id="registro-nc-form" class="sf-form-container regis">
                            <div class="row mt-5">
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="nameVisible-nr">
                                            Nombre
                                        </label>
                                        <input class="form-input effect-2" type="text" name="_name" id="nameVisible-nr" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="lastnameVisible-nr">
                                            Apellido
                                        </label>
                                        <input class="form-input effect-2" type="text" name="_lastname" id="lastnameVisible-nr" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="emailVisible-nr">
                                            Correo electr&oacute;nico
                                        </label>
                                        <input class="form-input effect-2" type="email" name="_email" id="emailVisible-nr" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="float-container">
                                        <label class="float-label" for="rfcVisible-nr">
                                            RFC
                                        </label>
                                        <input class="form-input effect-2" type="text" name="_rfc" id="rfcVisible-nr" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="err-nc" class="login-error" style="display:none;"></div>

                            <input type="hidden" value="" name="name" id="name-nr" />
                            <input type="hidden" value="" name="lastname" id="lastname-nr" />
                            <input type="hidden" value="" name="email" id="email-nr" />
                            <input type="hidden" value="" name="rfc" id="rfc-nr" />
                            <input type="hidden" name="fail" id="fail-nr" />
                            <input type="hidden" name="ok" id="ok-nr" />

                            <div class="my-5 row align-items-center justify-content-center">
                                <div class="col-12 col-lg-12 mb-4">
                                    <div class="terms align-items-center">
                                        <div><input type="checkbox" id="registro-terms-nc" /></div>
                                        <div>
                                            <small>He le&iacute;do y acepto el <span id="priv-pros-btn" class="red-link">aviso de privacidad</span>, los <span id="terms-btn-nc" class="red-link">t&eacute;rminos y condiciones</span> de uso de p&aacute;gina.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 d-flex justify-content-center">
                                    <button type="button" class="btn-registro g-recaptcha" id="boton-registro-nocliente">REGISTRARME</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- REGISTRO EXITOSO -->
                <div class="swiper-slide">
                    <div id="iniciar-sesion" class="reg-exitoso">
                        <div class="d-flex mb-4">
                            <div class="back-button" id="back-button-re">
                                <img src="/images/default-source/tfsm/my-tfsm/back_button.png" />
                            </div>
                        </div>
                        <div class="mt-5 mb-1">
                            <h1 class="registro-title red-title text-left">Gracias por registrarte</h1>
                        </div>
                        <div class="mb-4">
                            <p class="normal-p">
                                En breve recibirás un correo electrónico con el que podrás validar tu cuenta y obtener tu contraseña de ingreso.
                            </p>
                        </div>
                        <div class="my-5 row align-items-center">
                            <div class="col-12 col-md-5">
                                <a href="/tfsm/home-delivery" class="btn-red w-100 text-decoration-none">ACEPTAR</a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="normal-p">
                                <div id="reenviar">
                                    No recib&iacute; el correo electr&oacute;nico
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

