@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/ResourcePackages/Bootstrap4/assets/dist/js/bootstrap.min.js"), "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))

<div class="perks text-normal customRow">
    <div>
        @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
        {
            <img alt="" src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText" />
        }
    </div>
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <span>@Html.HtmlSanitize(Model.Description)</span>
    }
    else
    {
        <span>Description del beneficio</span>
    }
</div>