@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/ResourcePackages/Bootstrap4/assets/dist/js/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/select2.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-distribuidores.js"), "bottom", true)

@Html.StyleSheet(Url.Content("~/Content/css/select2.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-distribuidores.css"))

<div class="customRow card-dealers">
    <div class="col-12 col-lg-5">
        <div id="browser" class="dealer-browser">
            <div id="dealers-title" class="info-card-subtitle">Encuentra nuestros<br />Distribuidores Autorizados</div>
            <div id="browser-title" style="display: none;">
                <span id="back-button" class="material-icons">arrow_back</span>
                <span class="info-card-subtitle">Distribuidores</span>
            </div>
            <div id="tabs" class="tab-container">
                <div class="browser-tab active" data-tab="1">
                    Código Postal
                    <span class="focus-border fb-left"></span>
                </div>
                <div class="browser-tab" data-tab="2">
                    Estado
                    <span class="focus-border fb-right"></span>
                </div>
            </div>
            <div id="tab-panels">
                <div class="tab-panel" data-tab-panel="1">
                    <div class="sf-form-container" data-id="pc-input" data-action="#">
                        <div class="position-relative">
                            <label class="browser-input-icon" for="postal-code"><img src="~/Content/images/map-pin.png" /></label>
                            <input name="postal-code" id="postal-code" class="form-input effect-2 browser-input" placeholder="Ingresa tu código postal" />
                            <span id="refresh-search-pc" class="material-icons">search</span>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="browser-actions">
                        @*<button type="button" class="btn-red_inverted">VER MAPA</button>*@
                        <button type="button" id="search-dealers-pc" class="btn-red">BUSCAR</button>
                    </div>
                </div>
                <div class="tab-panel" data-tab-panel="2" style="display: none;">
                    <div class="sf-form-container" data-id="state-select" data-action="#">
                        <div class="position-relative state-container">
                            <label class="browser-input-icon" for="state"><img src="~/Content/images/map-pin.png" /></label>
                            <select name="state" id="state" class="form-input effect-2 browser-input">
                                <option value="0" disabled selected>Selecciona un estado</option>
                            </select>
                            <span id="refresh-search-select" class="material-icons">search</span>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="browser-actions">
                        @*<button type="button" class="btn-red_inverted">VER MAPA</button>*@
                        <button type="button" id="search-dealers-state" class="btn-red">BUSCAR</button>
                    </div>
                </div>
            </div>
            <div id="dealer-results" style="display: none;">
                <div class="d-flex justify-content-center">
                    <div id="dealer-loader" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div id="results-list"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-7">
        <div id="map" class="map-section"></div>
    </div>
</div>

<div id="contactModal" style="display:none;">
    <div class="modal-custom">
        <div class="modal-header-custom">
            <span class="modal-header-custom_title">¡Hola! ¡D&eacute;janos tus datos y nosotros te contactaremos!</span>
            <div class="modal-header-custom_close">
                <span id="contactModalClose" data-modal="contact" class="material-icons icon-button">close</span>
            </div>
        </div>
        <div class="modal-body-custom">
            <div class="sf-form-container overflow-hidden" data-id="contact-form" data-style="display: flex; flex-direction: column;">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="float-container">
                            <label class="float-label" for="contact-name">Nombre</label>
                            <input type="text" name="name" id="contact-name" class="form-input effect-2" required />
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="float-container">
                            <label class="float-label" for="contact-lastname">Apellido</label>
                            <input type="text" name="lastname" id="contact-lastname" class="form-input effect-2" required />
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </div>
                <div class="float-container">
                    <label class="float-label" for="contact-phone">Tel&eacute;fono</label>
                    <input type="number" name="phone" id="contact-phone" class="form-input effect-2" required />
                    <span class="focus-border"></span>
                </div>
                <div class="float-container">
                    <label class="float-label" for="contact-email">Correo electr&oacute;nico</label>
                    <input type="email" name="email" id="contact-email" class="form-input effect-2" required />
                    <span class="focus-border"></span>
                </div>
            </div>
        </div>
        <div class="modal-actions-custom">
            <button type="button" id="contactModalClose" data-modal="contact" class="btn-red_inverted mr-3">CANCELAR</button>
            <button type="button" id="sendContact" class="btn-red">ENVIAR</button>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXcPfvcjvg30JnlXggadE6_jbjnsQvCTw&callback=initMap&libraries=places" async defer></script>
