@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Card/card-login.js"), "bottom", true)
@Html.Script("https://unpkg.com/swiper/swiper-bundle.min.js", "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Card/card-login.css"))
@Html.StyleSheet("https://unpkg.com/swiper/swiper-bundle.min.css")

<div class="container-fluid" id="main-container">
    <div class="row customRow flex-column-reverse flex-lg-row align-items-center">
        <div class="col-12 col-lg-7 login-img">
            <img src="/images/default-source/tfsm/my-tfsm/tfsm-banner-bienvenida.png" class="img-fluid custom-img-fluid" />
        </div>
        <!-- COLUMNA VARIABLE -->
        <div class="col-12 col-lg-5">
            <div id="iniciar-sesion" class="login-form">
                <div class="mt-5 mb-1">
                    <h1 class="registro-title black-title text-left">Iniciar sesión</h1>
                </div>
                <div class="mb-3">
                    <p class="normal-p">
                        Nos da mucho gusto que vuelvas a Estrenar con nosotros un Toyota, juntos es posible.
                    </p>
                </div>

                <div data-id="c-form" class="sf-form-container" data-method="GET" data-action="https://salt001-toyotaclientes.cs43.force.com/s/sitefinitylogin" data-onsubmit="encrypt()">
                    <div class="float-container my-5">
                        <label class="float-label" for="clientVisible">
                            Ingresar su n&uacute;mero de cliente / ID de cliente
                        </label>
                        <input class="form-input effect-2" type="text" id="clientVisible" />
                        <span class="focus-border"></span>
                    </div>
                    <div class="float-container my-5">
                        <label class="float-label" for="passVisible">
                            Ingrese su contraseña
                        </label>
                        <input class="form-input effect-2" type="password" id="passVisible" />
                        <span class="focus-border"></span>
                    </div>

                    <input type="hidden" value="" name="client" id="client" />
                    <input type="hidden" value="" name="pass" id="pass" />
                    <input type="hidden" name="fail" value="https://tfs-sitefinity.virtualdreams.io/tfsm/my-tfsm/login-clientes" id="fail" />
                    <input type="hidden" name="ok" value="https://tfs-sitefinity.virtualdreams.io/tfsm/mis-cotizaciones"
                           id="ok" />

                    <div class="my-5 d-flex justify-content-center">
                        <button type="submit" class="btn-registro"> INGRESAR </button>
                    </div>

                </div>


                <div class="mb-1">
                    <p class="normal-p">
                        ¿No tienes cuenta?
                    </p>
                </div>

                <div class="mb-3">
                    <p class="normal-p">
                        <a href="#">
                            Regístrate e inicia tu proceso de crédito en línea.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
