@model SitefinityWebApp.Mvc.Models.CarouselModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)

@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))

@Html.StyleSheet(Url.Content("~/Content/css/styles.css"))

<div>
    @* -----CAROUSEL DESKTOP----- *@
    <div id="myCarousel" class="carousel slide @(Model.ImagesMobile.Count() > 0 ? "hidden-sm hidden-xs" : "")" data-ride="carousel">
        <a class="carousel-btn carousel-prev" href="#myCarousel" data-slide="prev" data-sf-ec-immutable="">
            <img src="~/Content/images/Carousel/slider_prev.png" />
        </a>
        <a class="carousel-btn carousel-next" href="#myCarousel" data-slide="next" data-sf-ec-immutable="">
            <img src="~/Content/images/Carousel/slider_next.png" />
        </a>
        <div class="carousel-inner">
            @{int i = 0;}
            @foreach (var imgSrc in Model.ImagesDesktop)
            {
                if (Model.DesktopOptions[i].HasLink == 2)
                {
                    <a target="@(Model.DesktopOptions[i].NewTab ? "_blank" : "_self")" href="@Html.UrlSanitize(Model.DesktopOptions[i].Link)" class="item @(i == 0 ? "active" : "") text-decoration-none">
                        <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                        <div class="carousel-caption">
                            @if (!string.IsNullOrEmpty(Model.DesktopOptions[i].Text))
                            {
                                <h3 class="FontToyotaRegular texto-carousel" style="font-size: @(Model.DesktopOptions[i].TextSize)px !important;color:@(Model.DesktopOptions[i].TextColor) !important;">@Html.HtmlSanitize(Model.DesktopOptions[i].Text)</h3>
                            }
                        </div>
                    </a>
                }
                else if (Model.DesktopOptions[i].HasLink == 1)
                {
                    <div class="item @(i == 0 ? "active" : "")">
                        <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                        <div class="carousel-caption">
                            @if (!string.IsNullOrEmpty(Model.DesktopOptions[i].Text))
                            {
                                <h3 class="FontToyotaRegular texto-carousel" style="font-size: @(Model.DesktopOptions[i].TextSize)px !important;color:@(Model.DesktopOptions[i].TextColor) !important;">@Html.HtmlSanitize(Model.DesktopOptions[i].Text)</h3>
                            }
                            <a target="@(Model.DesktopOptions[i].NewTab ? "_blank" : "_self")" href="@Html.UrlSanitize(Model.DesktopOptions[i].Link)" style="min-width:180px;width: fit-content;" class="btn-red text-decoration-none">@Html.HtmlSanitize(Model.DesktopOptions[i].ButtonLabel)</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item @(i == 0 ? "active" : "")">
                        <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                        <div class="carousel-caption">
                            @if (!string.IsNullOrEmpty(Model.DesktopOptions[i].Text))
                            {
                                <h3 class="FontToyotaRegular texto-carousel" style="font-size: @(Model.DesktopOptions[i].TextSize)px !important;color:@(Model.DesktopOptions[i].TextColor) !important;">@Html.HtmlSanitize(Model.DesktopOptions[i].Text)</h3>
                            }
                        </div>
                    </div>
                }

                i++;
            }
        </div>
    </div>

    @* -----CAROUSEL MOBILE----- *@

    @if (Model.ImagesMobile.Count() > 0)
    {
        <div id="myCarouselMobile" class="carousel slide hidden-md hidden-lg" data-ride="carousel">
            <a class="carousel-btn-small carousel-prev" href="#myCarouselMobile" data-slide="prev" data-sf-ec-immutable="">
                <img src="~/Content/images/Carousel/slider_prev.png" />
            </a>
            <a class="carousel-btn-small carousel-next" href="#myCarouselMobile" data-slide="next" data-sf-ec-immutable="">
                <img src="~/Content/images/Carousel/slider_next.png" />
            </a>
            <div class="carousel-inner">
                @{int j = 0;}
                @foreach (var imgSrc in Model.ImagesMobile)
                {
                    if (Model.MobileOptions[j].HasLink == 2)
                    {
                        <a target="@(Model.MobileOptions[j].NewTab ? "_blank" : "_self")" href="@Html.UrlSanitize(Model.MobileOptions[j].Link)" class="item @(j == 0 ? "active" : "") text-decoration-none">
                            <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                            <div class="carousel-caption carousel-caption-mb">
                                @if (!string.IsNullOrEmpty(Model.MobileOptions[j].Text))
                                {
                                    <h3 class="FontToyotaRegular texto-carousel-mb" style="font-size: @(Model.MobileOptions[j].TextSize)px !important;color:@(Model.MobileOptions[j].TextColor) !important;">@Html.HtmlSanitize(Model.MobileOptions[j].Text)</h3>
                                }
                            </div>
                        </a>
                    }
                    else if (Model.MobileOptions[j].HasLink == 1)
                    {
                        <div class="item @(j == 0 ? "active" : "")">
                            <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                            <div class="carousel-caption carousel-caption-mb">
                                @if (!string.IsNullOrEmpty(Model.MobileOptions[j].Text))
                                {
                                    <h3 class="FontToyotaRegular texto-carousel-mb" style="font-size: @(Model.MobileOptions[j].TextSize)px !important;color:@(Model.MobileOptions[j].TextColor) !important;">@Html.HtmlSanitize(Model.MobileOptions[j].Text)</h3>
                                }
                                <a target="@(Model.MobileOptions[j].NewTab ? "_blank" : "_self")" href="@Html.UrlSanitize(Model.MobileOptions[j].Link)" style="min-width:180px;width: fit-content;" class="btn-red text-decoration-none">@Html.HtmlSanitize(Model.MobileOptions[j].ButtonLabel)</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item @(j == 0 ? "active" : "")">
                            <img src="@imgSrc" style="width:100%;" alt="" sf-size="1647629" sfref="[images%7COpenAccessDataProvider]4d23ece0-dce6-41f5-bf16-827afc1b92e1" data-sf-ec-immutable="" />
                            <div class="carousel-caption carousel-caption-mb">
                                @if (!string.IsNullOrEmpty(Model.MobileOptions[j].Text))
                                {
                                    <h3 class="FontToyotaRegular texto-carousel-mb" style="font-size: @(Model.MobileOptions[j].TextSize)px !important;color:@(Model.MobileOptions[j].TextColor) !important;">@Html.HtmlSanitize(Model.MobileOptions[j].Text)</h3>
                                }
                            </div>
                        </div>
                    }

                    j++;
                }
            </div>
        </div>
    }
</div>