@model SitefinityWebApp.Mvc.Models.CotizadorModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using SitefinityWebApp.Mvc.Models.Utils;

@Html.Script(ScriptRef.JQuery, "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/bootstrap.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/inputs.js"), "bottom", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/swiper-bundle.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/jquery.validate.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/webkit-input-range-fill-lower/webkit-input-range-fill-lower.min.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/config.js"), "top", true)
@Html.Script(Url.WidgetContent("~/Content/scripts/Cotizador/cotizador.js"), "bottom", true)

@Html.StyleSheet(Url.Content("~/Content/css/bootstrap.min.css"))
@Html.StyleSheet(Url.Content("~/Content/css/fonts.css"))
@Html.StyleSheet(Url.Content("~/Content/css/inputs.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Cotizador/cotizador.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Pdf/ToyotaCotTrad.css"))
@Html.StyleSheet(Url.Content("~/Content/css/Pdf/fuentes.css"))
@Html.StyleSheet(Url.Content("~/Content/css/swiper-bundle.min.css"))

<input type="hidden" id="max-enganche" value="@Model.MontoEnganche" />

<div class="cotizador-container">
    <div id="cotizador-swiper-container" class="swiper-container">
        <div class="swiper-wrapper">
            @* ----------------STEP 1---------------- *@
            <div class="swiper-slide">
                <div id="step-1">
                    <div class="col-12">
                        <div class="title">Cotiza en 3 pasos el Toyota de tus sue&ntilde;os</div>
                        <div>
                            <button id="start" type="button" class="btn-red">COMENZAR COTIZACI&Oacute;N</button>
                        </div>
                    </div>

                </div>
            </div>
            @* ----------------STEP 2---------------- *@
            <div class="swiper-slide">
                <div id="step-2">
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="title">
                            Estamos listos para cotizar tu pr&oacute;ximo Toyota. Para comenzar ingresa los siguientes datos:
                        </div>
                        <div class="step-2-form">
                            <div class="sf-form-container" data-id="step-2-form" data-style="display:grid;">
                                <div class="float-container">
                                    <label class="float-label" for="name">Nombre</label>
                                    <input type="text" name="name" id="name" class="form-input effect-2" />
                                    <span class="focus-border"></span>
                                </div>
                                <div class="float-container">
                                    <label class="float-label" for="lastname">Apellido</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input effect-2" />
                                    <span class="focus-border"></span>
                                </div>
                                <div class="float-container">
                                    <label class="float-label" for="email">Correo electr&oacute;nico</label>
                                    <input type="text" name="email" id="email" class="form-input effect-2" />
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="terms">
                            <div><input type="checkbox" id="step-2-terms" /></div>
                            <div>
                                He le&iacute;do y acepto el <span id="step-2-priv-btn" class="red-link">aviso de privacidad</span>, los<span id="step-2-terms-btn" class="red-link">&nbsp;t&eacute;rminos y condiciones&nbsp;</span>de uso de la p&aacute;gina
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button type="button" id="step-2-continue" class="btn-red">CONTINUAR</button>
                        </div>
                    </div>
                </div>
            </div>
            @* ----------------STEP 3---------------- *@
            <div class="swiper-slide">
                <div id="step-3">
                    <div class="col-11">
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="title">Selecciona una categor&iacute;a y veh&iacute;culo</div>
                            </div>
                        </div>
                        <div id="select-car-type" class="row mt-3 categories">
                            <div class="col-sm"><div class="select-button selected" data-for="car-type" data-value="auto">AUTOS</div></div>
                            <div class="col-sm"><div class="select-button" data-for="car-type" data-value="hibrido">H&Iacute;BRIDOS</div></div>
                            <div class="col-sm"><div class="select-button" data-for="car-type" data-value="suv">SUV'S & MINIVANS</div></div>
                            <div class="col-sm"><div class="select-button btn-long" data-for="car-type" data-value="pickup">PICK UP'S & COMERCIALES</div></div>
                            <div class="col-sm"><div class="select-button" data-for="car-type" data-value="deportivo">GR TOYOTA GAZOO RACING</div></div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12 d-flex justify-content-between">
                                <div id="cars-swiper-prev" class="slider-button">
                                    <img src="~/Content/images/Cotizador/slider_prev.png" />
                                </div>
                                <div id="cars-swiper-next" class="slider-button">
                                    <img src="~/Content/images/Cotizador/slider_next.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div id="cars-swiper-container" class="swiper-container">
                                <div id="car-slide-container" class="swiper-wrapper car-slide-container">
                                    @foreach (var item in Model.autos)
                                    {
                                        <div class="swiper-slide car-slide-container type-@item.CarType">
                                            <div class="car-slide" data-auto-id="@item.AutoId" data-auto-name="@item.Name" data-auto-picture="@item.CarImage" data-auto-model="@item.ModelImage" data-auto-tipo="@item.CarType">
                                                <div class="car-image">
                                                    <img src="@item.CarImage" />
                                                </div>
                                                <div class="car-title">@item.Name</div>
                                                <div class="select-car">SELECCIONAR</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row my-4 justify-content-center">
                            <button type="button" id="step-3-back" class="btn-red_inverted color-red mx-2 col-12 col-md-3 col-lg-2 mb-3 mb-md-0">
                                <span class="material-icons">chevron_left</span>
                                VOLVER
                            </button>
                            <button type="button" id="step-3-continue" class="btn-red color-red mx-2 col-12 col-md-3 col-lg-2">
                                CONTINUAR
                                <span class="material-icons">chevron_right</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @* ----------------STEP 4---------------- *@
            <div class="swiper-slide">
                <div id="step-4">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <button type="button" id="step-4-back" class="btn-transparent color-red">
                                    <span class="material-icons color-red">chevron_left</span>
                                    VOLVER
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-grid">
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="title">Selecciona la versi&oacute;n de tu pr&oacute;ximo <span class="step-4-nombre-auto"></span></div>
                            </div>
                        </div>
                        <div class="row align-items-center block flex-lg-row">
                            <div class="col-12 col-lg-6">
                                <div class="centrado">
                                    <img class="step-4-imagen-auto" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="float-container w-100">
                                    <label for="car_version" class="float-label">Versi&oacute;n</label>
                                    <select id="car_version" name="car_version" class="form-input effect-2 bg-transparent">
                                        <option value="0" disabled selected>Versi&oacute;n</option>
                                    </select>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 step-4-2" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona tu personalidad fiscal</div>
                            </div>
                        </div>
                        <div id="select-personalidad-fiscal" class="row block step-4-2" style="display: none;">
                            <div class="col-12 col-lg-3">
                                <div class="select-button" data-for="personalidad-fiscal" data-value="Física">F&Iacute;SICA</div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="select-button" data-for="personalidad-fiscal" data-value="Física con Actividad Empresarial">
                                    F&iacute;SICA CON ACTIVIDAD EMPRESARIAL
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <!--div class="select-button" data-for="personalidad-fiscal" data-value="Moral">MORAL</div-->
                            </div>
                        </div>
                        <div class="row mt-4 step-4-3" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona la Aseguradora</div>
                            </div>
                        </div>
                        <div class="row block step-4-3" style="display: none;">
                            <div class="col-12 col-lg-4 my-3 m-0">
                                <div class="float-container">
                                    <label class="float-label" for="select-state">Selecciona tu estado</label>
                                    <select id="select-state" name="select-state" class="form-input effect-2">
                                        <option value="0" selected disabled>Selecciona tu estado</option>
                                    </select>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 my-3 m-0">
                                <div class="float-container">
                                    <label class="float-label" for="select-insurance">Selecciona la aseguradora</label>
                                    <select id="select-insurance" name="select-insurance" class="form-input effect-2">
                                        <option value="0" selected disabled>Selecciona la aseguradora</option>
                                    </select>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 my-3 m-0">
                                <div class="float-container">
                                    <label class="float-label" for="select-coverage">Selecciona la cobertura</label>
                                    <select id="select-coverage" name="select-coverage" class="form-input effect-2">
                                        <option value="0" selected disabled>Selecciona la cobertura</option>
                                    </select>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 step-4-4" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona la soluci&oacute;n financiera con la que deseas adquirir tu pr&oacute;ximo <span class="step-4-nombre-auto"></span></div>
                            </div>
                        </div>
                        <div id="select-financing" class="row block step-4-4" style="display: none;">
                            <div class="col-12 col-lg-4">
                                <div class="select-button" data-for="financing" data-value="Financiamiento">FINANCIAMIENTO</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="select-button" data-for="financing" data-value="Arrendamiento">ARRENDAMIENTO</div>
                            </div>
                        </div>
                        <div class="row mt-4 step-4-5" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona el plan de <span class="title-financiamiento">financiamiento</span> con el que deseas estrenar tu pr&oacute;ximo <span class="step-4-nombre-auto"></span></div>
                            </div>
                        </div>
                        <div class="block step-4-5" style="display: none;">
                            <div id="select-plan" class="row block" style="display: none;">
                                <div class="col-12 mb-4">
                                    <div class="row my-3 align-items-center">
                                        <div class="col-6 col-lg-4">
                                            <img src="~/Content/images/Planes/plan-tradicional.png" />
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="select-button" data-for="plan" data-value="Tradicional">SELECCIONAR</div>
                                        </div>
                                    </div>
                                    <div class="text-plan">Pagas mensualidades iguales durante toda la vida del financiamiento.</div>
                                </div>
                                <div class="col-12 my-4">
                                    <div class="row my-3 align-items-center">
                                        <div class="col-6 col-lg-4">
                                            <img src="~/Content/images/Planes/plan-balloon.png" />
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="select-button" data-for="plan" data-value="Balloon">SELECCIONAR</div>
                                        </div>
                                    </div>
                                    <div class="text-plan">Tienes acceso a una mensualidad m&aacute;s baja, ya que estableces un pago al final de tu financiamiento, el cual puede ser del 25% o 35% del valor del veh&iacute;culo.</div>
                                </div>
                                <div class="col-12 my-4">
                                    <div class="row my-3 align-items-center">
                                        <div class="col-6 col-lg-4">
                                            <img src="~/Content/images/Planes/plan-anualidades.png" />
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="select-button" data-for="plan" data-value="Anualidades">SELECCIONAR</div>
                                        </div>
                                    </div>
                                    <div class="text-plan">Estableces un pago m&aacute;s alto en el mes del a&ntilde;o en que tus ingresos sean mayores, lo que te permitir&aacute; lograr mensualidades m&aacute;s bajas.</div>
                                </div>
                            </div>
                            <div id="select-arrendamiento" class="row block" style="display: none;">
                                <div class="col-12 my-4">
                                    <div class="row my-3 align-items-center">
                                        <div class="col-6 col-lg-4">
                                            <img src="~/Content/images/Planes/logo_arrendamiento_finan.png" />
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="select-button" data-for="arrendamiento" data-value="financiero">SELECCIONAR</div>
                                        </div>
                                    </div>
                                    <div class="text-plan">Adquiere la propiedad fiscal del autom&oacute;vil, lo que permite deducirlo de impuestos, ya que el veh&iacute;culo se registra dentro de los activos del contratante.</div>
                                </div>
                                <div class="col-12 my-4">
                                    <div class="row my-3 align-items-center">
                                        <div class="col-6 col-lg-4">
                                            <img src="~/Content/images/Planes/logo_arrendamiento_puro.png" />
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <div class="select-button" data-for="arrendamiento" data-value="puro">SELECCIONAR</div>
                                        </div>
                                    </div>
                                    <div class="text-plan">Estableces un pago m&aacute;s alto en el mes del a&ntilde;o en que tus ingresos sean mayores, lo que te permitir&aacute; lograr mensualidades m&aacute;s bajas.</div>
                                </div>
                            </div>
                        </div>
                        <div id="data-depositos" class="row mt-4 step-4-6" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona la cantidad de Dep&oacute;sitos</div>
                            </div>
                            <div class="col-12">
                                <div class="row block">
                                    <div class="col-12 col-lg-6 my-3 m-0">
                                        <div class="float-container">
                                            <label class="float-label" for="select-cantidad-depositos">Cantidad de Dep&oacute;sitos</label>
                                            <select id="select-cantidad-depositos" name="select-cantidad-depositos" class="form-input effect-2">
                                                <option value="0" selected disabled>Cantidad de Dep&oacute;sitos</option>
                                            </select>
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 step-4-7" style="display: none;">
                            <div class="col-12">
                                <div class="title">Selecciona el plazo de tu plan de <span class="title-financiamiento">financiamiento</span></div>
                            </div>
                        </div>
                        <div id="select-term" class="row block step-4-7" style="display: none;">
                            <div class="col-12 col-lg-4">
                                <div class="select-button" data-for="term" data-value="24">24 MESES</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="select-button" data-for="term" data-value="36">36 MESES</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="select-button" data-for="term" data-value="48">48 MESES</div>
                            </div>
                        </div>
                        <div id="step4">
                            <div class="row mt-4 step-4-8" style="display: none;">
                                <div class="col-12">
                                    <div class="title">Selecciona el monto de <span class="title-enganche">enganche</span> con el que deseas iniciar tu plan</div>
                                </div>
                            </div>





                            <div class="row mt-4 step-4-8" style="display: none;">
                                <div class="col-12">
                                    <div class="d-flex hitch-content-2 justify-content-center flex-column">
                                        <div>
                                            <p class="text-enganche">Ingrese la Cantidad de Enganche:&nbsp;&nbsp;&nbsp;</p>
                                        </div>
                                        <div class="text-center m-t-3 ">
                                            <span class="text-enganche">$</span><input id="hitch-text" type="number" value="0" onkeydown="return event.keyCode !== 69" />
                                        </div>
                                    </div>
                                    <div class="title position-relative">
                                        @*<input type="range" id="hitch-range" min="0" max="100000" step="1" value="0" />*@

                                        <input type="range"
                                               value="0"
                                               min="0"
                                               max="100000"
                                               id="hitch-range"
                                               step="1" />
                                        <div id="progressBar"></div>


                                        @*<div id="selector">
                                                <div id="selectBtn"></div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="row block range-controls step-4-8" style="display: none;">
                                <div class="col-12 d-flex">
                                    <div>
                                        <div>$&nbsp; <input id="hitch-min" type="number" value="0" readonly /></div>
                                        <div id="hitch-minus" class="range-button">
                                            <img src="~/Content/images/Cotizador/menos.png" />
                                        </div>
                                    </div>

                                    <div class="d-flex hitch-content">
                                        <div class="title" id="porcentaje">10%</div>
                                    </div>

                                    <div class="text-right margin-range-plus">
                                        <div>$&nbsp; <input id="hitch-max" type="number" value="0" readonly /></div>
                                        <div id="hitch-plus" class="range-button">
                                            <img src="~/Content/images/Cotizador/mas.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row block justify-content-center step-4-9" style="display: none;" id="finish">
                            <div class="col-12 col-lg-4">
                                <button type="button" id="step-4-finish" class="btn-red w-100">FINALIZAR</button>
                            </div>
                        </div>
                        <div class="disclaimer text-center">Esta cotizaci&oacute;n es una estimaci&oacute;n y es meramente informativa.</div>
                    </div>
                </div>
            </div>



            @* ----------------STEP 5---------------- *@
            <div class="swiper-slide">
                <div id="step-5">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <button type="button" id="step-5-back" class="btn-transparent color-red">
                                    <span class="material-icons color-red">chevron_left</span>
                                    VOLVER
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="title"><span class="step-5-nombre-cliente"></span> el mejor plan es estrenar tu Toyota. Te presentamos el resultado de tu cotizaci&oacute;n:</div>
                            </div>
                        </div>
                        <div class="row">
                            @* --------------- Columna 1 --------------- *@
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="step-5-card size-medium">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 d-flex flex-column">
                                                    <div class="row flex-grow-1">
                                                        <div class="col-5 col-lg-6">
                                                            <div class="text-tag">Modelo:</div>
                                                            <div class="step-5-nombre-auto text-value"></div>
                                                        </div>
                                                        <div class="col-7 col-lg-6">
                                                            <div class="text-tag">Versi&oacute;n:</div>
                                                            <div class="step-5-version-auto text-value"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row flex-grow-1">
                                                        <div class="col-5 col-lg-6">
                                                            <div class="text-tag">A&ntilde;o:</div>
                                                            <div class="step-5-anio-auto text-value"></div>
                                                        </div>
                                                        <div class="col-7 col-lg-6">
                                                            <div class="text-tag">Tipo de persona:</div>
                                                            <div class="step-5-tipo-persona text-value"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6 flex-center align-items-end align-items-lg-center">
                                                    <img class="step-5-imagen-auto" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Mensualidad:</div>
                                            <div class="text-value step-5-mensualidad">$ 0 M.N.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 step-5-datos-plan">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Enganche:</div>
                                            <div class="text-value step-5-enganche">$ 0 M.N.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 step-5-datos-arrendamiento" style="display: none;">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Total rentas en Dep&oacute;sito:</div>
                                            <div class="text-value step-5-deposito">$ 0 M.N.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Plazo:</div>
                                            <div class="text-value step-5-plazo"></div>
                                        </div>
                                    </div>
                                    @*<div class="col-12 col-lg-6 step-5-datos-plan">
                                            <div class="step-5-card size-small">
                                                <div class="text-tag">Precio total:</div>
                                                <div class="text-value step-5-precio-total">$ 0 M.N.</div>
                                            </div>
                                        </div>*@
                                    <div class="col-12 col-lg-6 step-5-datos-arrendamiento" style="display: none;">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Monto a Arrendar:</div>
                                            <div class="text-value step-5-monto-arrendar">$ 0 M.N.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-big">
                                            <div class="text-tag">Elegir otro plazo:</div>
                                            <div class="flex-center m-3">
                                                <div id="select-otro-plazo" class="flex-center row">
                                                    <div class="select-button col-12 col-lg-7 my-3" data-for="otro-plazo" data-value="24">24 MESES</div>
                                                    <div class="select-button col-12 col-lg-7 my-3" data-for="otro-plazo" data-value="36">36 MESES</div>
                                                    <div class="select-button col-12 col-lg-7 my-3" data-for="otro-plazo" data-value="48">48 MESES</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-big d-flex flex-column">
                                            <div class="text-tag">Plan de <span class="title-financiamiento">financiamiento</span>:</div>
                                            <div class="flex-center flex-grow-1 m-3">
                                                <img class="step-5-plan" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Aseguradora seleccionada:</div>
                                            <div class="text-value step-5-aseguradora"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Cobertura de seguro seleccionada:</div>
                                            <div class="text-value step-5-cobertura"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Comisi&oacute;n por apertura:</div>
                                            <div class="text-value step-5-tasa-interes"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">CAT:</div>
                                            <div class="text-value step-5-cat"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="data-anualidades" style="display: none;">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Anualidad:</div>
                                            <div class="text-value step-5-anualidad"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Mes de Anualidad:</div>
                                            <div class="text-value">Diciembre</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="data-balloon" style="display: none;">
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Pago extraordinario al finalizar el plazo seleccionado:</div>
                                            <div class="text-value step-5-monto-balloon"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="step-5-card size-small">
                                            <div class="text-tag">Porcentaje de pago extraordinario final:</div>
                                            <div class="text-value step-5-porcentaje-balloon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-12 col-lg-4">
                                        <a href="/tfsm/mis-cotizaciones" class="btn-red_inverted w-100 text-decoration-none">VER COTIZACIONES</a>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3 m-lg-0">
                                        <button id="cotizar-otro" type="button" class="btn-red_inverted w-100">COTIZAR OTRO VEH&Iacute;CULO</button>
                                    </div>
                                    <div class="col-12 col-lg-4 mt-3 m-lg-0">
                                        <button type="button" id="downloadPdf" class="btn-red btn-long w-100">DESCARGAR COTIZACI&Oacute;N PDF</button>
                                    </div>
                                </div>
                            </div>
                            @* --------------- Columna 2 --------------- *@
                            <div class="col-12 col-lg-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="step-5-card solicitud">
                                            <div class="row">
                                                <div class="col-12 flex-grow-1">
                                                    <div class="title">Inicia ahora tu solicitud de cr&eacute;dito y estrena un <span class="step-5-nombre-auto"></span></div>
                                                </div>
                                                <div class="col-12 d-grid">
                                                    <div class="row">
                                                        <div class="col-8 d-flex">
                                                            <a href="/tfsm/mis-cotizaciones" id="iniciar-coti" class="btn-red btn-long">INICIA TU CRÉDITO</a>
                                                        </div>
                                                        @*<div class="col-4 d-flex align-items-end">
                                                            <img src="~/Content/images/Cotizador/tfsm-logo-home-delivery.png" />
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sf-form-container step-5-card" data-id="step-5-contact-form">
                                            <div class="title">
                                                <span class="step-5-nombre-cliente"></span>,<br />contacta con uno de nuestros Distribuidores para recibir m&aacute;s informaci&oacute;n:
                                            </div>
                                            <div class="d-grid">
                                                <div class="float-container">
                                                    <label class="float-label" for="step-5-distribuidores">Distribuidor</label>
                                                    <select class="form-input effect-2 bg-transparent" id="step-5-distribuidores" name="distribuidores">
                                                        <option value="0" disabled selected>Distribuidor</option>
                                                    </select>
                                                    <span class="focus-border"></span>
                                                </div>
                                                <div class="float-container">
                                                    <label class="float-label" for="step-5-phone">Tel&eacute;fono</label>
                                                    <input type="text" id="step-5-phone" name="phone" maxlength="10" onkeypress="maxLengthCheck(event)" class="form-input effect-2 bg-transparent" onkeydown="return (event.keyCode !== 69 && event.keyCode !== 188 && event.keyCode !== 110 && event.keyCode !== 190)" />
                                                    <span class="focus-border"></span>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <button id="step-5-contact" type="button" class="btn-red btn-long col-12 col-lg-7">SER CONTACTADO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="disclaimer" id="tradicional" style="display:none">
                                La presente cotizaci&oacute;n representa un ejercicio aritm&eacute;tico referencial
                                en pesos mexicanos tomando en cuenta el modelo-versión del veh&iacute;culo aqu&iacute; expresado,
                                la promoci&oacute;n mensual aplicable el día de su emisi&oacute;n, las variables y dem&aacute;s elementos
                                financieros que el cliente ha seleccionado y tiene un car&aacute;cter estrictamente informativo
                                por ello los costos, valores o cantidades expresadas pueden variar al
                                momento de la contrataci&oacute;n de nuestros productos de financiamiento,
                                le sugerimos revisar los mismos antes de contratar.  Esta cotizaci&oacute;n no representa una autorizaci&oacute;n
                                de cr&eacute;dito y est&aacute; sujeta a an&aacute;lisis aprobaci&oacute;n de TOYOTA FINANCIAL SERVICES M&Eacute;XICO, S.A. de C.V.
                                <span class="textX2"> Costo Anual Total (CAT) de 16.3% sin IVA</span> con efectos informativos y de contratación. Los importes
                                del seguro y demás accesorios expresados en esta
                                cotizaci&oacute;n son elementos que no determina o establece TOYOTA FIANACIAL SERVICES M&Eacute;XICO, S.A. de C.V.,
                                raz&oacute;n por la cual pueden variar de conformidad
                                con los criterios de contrataci&oacute;n de dichos proveedores de bienes o servicios que elija el cliente.
                                Las cotizaciones y valores expresados o desplegados al cliente,
                                las impresiones del sitio, descargas, copias o correos electrónicos en la que la misma aparezca no constituyen promesa,
                                compromiso, ni representan un contrato o una
                                oferta de contrato por parte de TOYOTA FIANCIAL SERVICES M&Eacute;XICO, S.A. de C.V. Para m&aacute;s informaci&oacute;n sobre los planes,
                                montos, requisitos de contrataci&oacute;n y comisiones
                                del producto cotizados visite la p&aacute;gina de internet www.toyotacredito.com.mx o acuda con su Distribuidor Toyota más cercano.
                            </div>
                            <div class="disclaimer" id="anualidades" style="display:none">
                                La presente cotizaci&oacute;n representa un ejercicio aritm&eacute;tico referencial en pesos mexicanos
                                tomando en cuenta el modelo-versi&oacute;n del veh&iacute;culo aqu&iacute; expresado, la promoci&oacute;n mensual aplicable el d&iacute;a de su emisi&oacute;n,
                                las variables y dem&aacute;s elementos financieros que el cliente ha seleccionado y tiene un car&aacute;cter estrictamente informativo
                                por ello los costos, valores o cantidades expresadas pueden variar al momento de la contrataci&oacute;n de nuestros productos de
                                financiamiento, le sugerimos revisar los mismos antes de contratar.  Esta cotizaci&oacute;n no representa una autorizaci&oacute;n de cr&eacute;dito
                                y est&aacute; sujeta a an&aacute;lisis y aprobaci&oacute;n de TOYOTA FINANCIAL SERVICES M&Eacute;XICO, S.A. de C.V.<span class="textX2"> Costo Anual Total (CAT) de 16.3% sin IVA</span> con efectos informativos y de
                                comparaci&oacute;n. En operaciones de financiamiento con pagos anuales, el seguro de desempleo para personas f&iacute;sicas solo cubrir&aacute;
                                el monto correspondiente a una mensualidad ordinaria, no cubrir&aacute; los pagos anuales. Los importes del seguro y dem&aacute;s
                                accesorios expresados en esta cotizaci&oacute;n, son elementos que no determina o establece TOYOTA FIANACIAL SERVICES M&Eacute;XICO,
                                S.A. de C.V., raz&oacute;n por la cual pueden variar de conformidad con los criterios de contrataci&oacute;n de dichos proveedores
                                de los bienes o servicios seleccionados por el cliente. Las impresiones de esta cotizaci&oacute;n en el sitio, descargas,
                                copias o correos electr&oacute;nicos en la que la misma aparezca no constituyen promesa, compromiso, ni representan un
                                contrato o una oferta de contrato por parte de TOYOTA FIANCIAL SERVICES M&Eacute;XICO, S.A. de C.V. Para m&aacute;s informaci&oacute;n
                                sobre los planes, montos, requisitos de contrataci&oacute;n y comisiones del producto cotizados visite la p&aacute;gina de internet www.toyotacredito.com.mx o acuda con su Distribuidor Toyota m&aacute;s cercano.
                            </div>
                            <div class="disclaimer" id="balloon" style="display:none">
                                La presente cotizaci&oacute;n representa un ejercicio aritm&eacute;tico referencial en pesos mexicanos tomando en cuenta el modelo-versi&oacute;n
                                del veh&iacute;culo aqu&iacute; expresado, la promoci&oacute;n mensual aplicable el d&iacute;a de su emisi&oacute;n, las variables y dem&aacute;s elementos financieros
                                que el cliente ha seleccionado y tiene un car&aacute;cter estrictamente informativo por ello los costos, valores o cantidades expresadas
                                pueden variar al momento de la contrataci&oacute;n de nuestros productos de financiamiento, le sugerimos revisar los mismos antes de contratar.
                                Esta cotizaci&oacute;n no representa una autorizaci&oacute;n de crédito y está sujeta a an&aacute;lisis y aprobaci&oacute;n de TOYOTA FINANCIAL SERVICES M&Eacute;XICO, S.A. <span class="textX2"> Costo Anual Total (CAT) de 16.3% sin IVA</span> con efectos
                                informativos y de comparaci&oacute;n. En operaciones de financiamiento con pago balloon (pago extraordinario) que debe liquidarse el último mes de
                                vigencia de su financiamiento, el seguro de desempleo para personas f&iacute;sicas solo cubrir&aacute; el monto correspondiente a una mensualidad ordinaria,
                                no cubrir&aacute; el pago extraordinario final. Los importes del seguro y dem&aacute;s accesorios expresados en esta cotizaci&oacute;n, son elementos que no determina
                                o establece TOYOTA FIANACIAL SERVICES M&Eacute;XICO, S.A. de C.V., raz&oacute;n por la cual pueden variar de conformidad con los criterios de contrataci&oacute;n de
                                dichos proveedores de bienes o servicios que seleccione el cliente. Las impresiones de esta cotización en el sitio, descargas, copias o correos
                                electr&oacute;nicos en la que la misma aparezca no constituyen promesa, compromiso, ni representan un contrato o una oferta de contrato por parte de
                                TOYOTA FIANCIAL SERVICES M&Eacute;XICO, S.A. de C.V. Para más informaci&oacute;n sobre los planes, montos, requisitos de contrataci&oacute;n y comisiones del producto
                                cotizados visite la p&aacute;gina de internet www.toyotacredito.com.mx o acuda con su Distribuidor Toyota m&aacute;s cercano.
                            </div>
                            <div class="disclaimer" id="arrendamiento" style="display:none">
                                La presente cotizaci&oacute;n representa un ejercicio aritm&eacute;tico referencial en pesos mexicanos tomando en cuenta el modelo-versi&oacute;n del veh&iacute;culo
                                aqu&iacute; expresado, la promoción mensual aplicable el d&iacute;a de su emisi&oacute;n y las variables, modelo y dem&aacute;s elementos financieros que el cliente
                                ha seleccionado, por ello tiene un car&aacute;cter estrictamente informativo, debido a ello los costos, valores o cantidades expresadas pueden
                                variar al momento de la contrataci&oacute;n de nuestros productos de ARRENDAMIENTO , le sugerimos revisar los mismos antes de contratar.
                                Esta cotizaci&oacute;n no representa una autorizaci&oacute;n para contratar y está sujeta a an&aacute;lisis y aprobaci&oacute;n de TOYOTA FINANCIAL SERVICES
                                M&Eacute;XICO, S.A. de C.V. <span class="textX2"> Costo Anual Total (CAT) de 16.3%
                                sin IVA</span> con efectos informativos y de comparaci&oacute;n. El importe de PAGO MENSUAL puede variar debido a la variaci&oacute;n de los costos del vehículo
                                seleccionado por el potencial cliente, el seguro y dem&aacute;s accesorios expresados en esta cotizaci&oacute;n. Esta entidad comercial no determina o
                                establece los costos o valores de los seguros y accesorios expresados en esta cotizaci&oacute;n, raz&oacute;n por la cual pueden variar de conformidad
                                con los criterios de contrataci&oacute;n de dichos proveedores de bienes o servicios que TOYOTA FINANCIAL SERVICES M&Eacute;XICO, S.A. de C.V., contrate
                                atendiendo a las instrucciones del cliente. Las impresiones de esta cotizaci&oacute;n en el sitio, descargas, copias o correos electr&oacute;nicos en
                                la que la misma aparezca no constituyen promesa, compromiso, ni representan un contrato o una oferta de contrato por parte de TOYOTA
                                FIANCIAL SERVICES M&Eacute;XICO, S.A. de C.V. Para más informaci&oacute;n sobre los planes, montos, requisitos de contrataci&oacute;n y comisiones del
                                producto cotizados visite la p&aacute;gina de internet www.toyotacredito.com.mx o acuda con su Distribuidor Toyota m&aacute;s cercano.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>